@import '../../../mixins/form.scss';

.form {
	@include form;

	&__footer {
		margin-top: 12px;
		display: flex;
		justify-content: space-between;
		align-items: flex-end;

		&_link {
			font-style: italic;
			color: var(--blue);
			text-decoration: underline;

			&:hover {
				color: var(--gold);
			}
		}
	}
}
