.nav {
	margin-bottom: 30px;
	display: flex;
	justify-content: space-between;
	align-items: center;

	&__left {
		display: flex;
		gap: 0 12px;
		align-items: center;
	}

	&__upload {
		cursor: pointer;
		border-bottom: 1px dotted var(--black);
		&_input {
			display: none;
		}
	}

	&__right {
		display: flex;
		align-items: center;
		gap: 0 12px;

		.btn:hover {
			color: var(--blue);
		}

		.select {
			padding: 2px;
		}
	}
}

.btn {
	&__create {
		width: 120px;
	}
	&__back {
		padding: 2px 6px;
		width: auto;
	}
}
