@import '../../../mixins/form.scss';

.form {
	@include form;
}

.btn {
	margin-top: 12px;
	align-self: flex-end;
}

.success {
	color: var(--green);
}

.error {
	color: var(--red);
}

.success,
.error {
	margin-top: 12px;
	text-align: center;
}
