@mixin form {
	padding: 24px;
	width: 400px;
	max-width: 100%;
	border-radius: 12px;
	background-color: var(--white);

	display: flex;
	flex-direction: column;
	gap: 12px 0;

	input {
		padding-bottom: 8px;
		border: none;
		border-bottom: 1px solid var(--gray-light);
		outline: none;
		cursor: pointer;

		font-size: 18px;
		font-weight: 500;

		&::placeholder {
			font-size: 12px;
			font-weight: 300;
		}
	}
}
